vim/.vim/bundle
vim/.vim/dirs
vim/.vim/dirs/backups
vim/.vim/dirs/tmp
vim/.vim/dirs/tmp
config/.config/sublime-text-3/Packages/User/Package Control.cache
config/.config/sublime-text-3/Packages/User/.SublimeREPLHistory/python.db
config/.config/sublime-text-3/Packages/User/Package Control.last-run
config/.config/sublime-text-3/Cache/Default/Startup.cache
config/.config/sublime-text-3/Local/
config/.config/sublime-text-3/Cache
config/.config/sublime-text-3/Index
config/.config/mpd/log
config/.config/mpd/pid
config/.config/mpd/state
config/.config/sublime-text-3/Backup/
config/.config/sublime-text-3/Packages/Anaconda/messages/