!-------------------------------------------------------------------------------
!!! XFT SETTINGS !!!
!-------------------------------------------------------------------------------
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


!-------------------------------------------------------------------------------
!!! URXVT SETTINGS !!!
!-------------------------------------------------------------------------------
urxvt*font: xft:gohufont:pixelsize=13,xft:Inconsolata\ for\ Powerline:pixelsize=13
!Urxvt*depth: 33
URxvt*cursorBlink: true
URxvt*geometry: 155x40
!URxvt*internalBorder: 16
URxvt*borderLess: false
URxvt*scrollBar: false
URxvt*cursorUnderline: false
URxvt*scrollColor: #8bc34a
URxvt.underlineURLs: true
!URxvt.letterSpace: 1
URxvt.iconFile: /usr/share/icons/Menda-Circle/apps/48x48/apps/terminator.svg
URxvt.colorUL: #ffc107

!-------------------------------------------------------------------------------
!!! THEME !!!
!-------------------------------------------------------------------------------


! Google Material Design

! special
*.foreground:   #a2a2a2
*.background:   #1f1f1f
*.cursorColor:  #a2a2a2

! black
*.color0:       #4e4e4e
*.color8:       #777777

! red
*.color1:       #a9635d
*.color9:       #ffbbb2

! green
*.color2:       #468459
*.color10:      #9ddeaf

! yellow
*.color3:       #84763d
*.color11:      #e0ce91

! blue
*.color4:       #5879af
*.color12:      #b3d1ff

! magenta
*.color5:       #9c6594
*.color13:      #fabdf0

! cyan
*.color6:       #008592
*.color14:      #79e0ed

! white
*.color7:       #cfcfcf
*.color15:      #ffffff

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
!#rofi.color-enabled:                  true
! Color scheme for normal row
!#rofi.color-normal:                   argb:00000000,  #D8DEE9 , argb:00000000,  #D8DEE9 ,  #1B2B34
! Color scheme for urgent row
!#rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
! Color scheme for active row
!#rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
! Color scheme window
!#rofi.color-window:                   argb:ee222222,  #1f1f1f ,  #1f1f1f
! Separator style (none, dash, solid)
!#rofi.separator-style: none


! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1f1f1f, #1f1f1f, argb:0000000
rofi.color-normal: #1f1f1f, #ffffff, argb:0eee8d5, #1d1d1d, #eee8d5
rofi.color-active: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
rofi.color-urgent: argb:0fdf6e3, #dc322f, argb:0eee8d5, argb:0dc322f, #fdf6e3