!-------------------------------------------------------------------------------
!!! XFT SETTINGS !!!
!-------------------------------------------------------------------------------
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


!-------------------------------------------------------------------------------
!!! URXVT SETTINGS !!!
!-------------------------------------------------------------------------------
urxvt*font: xft:gohufont:pixelsize=13,xft:Inconsolata\ for\ Powerline:pixelsize=17
!Urxvt*depth: 33
URxvt*cursorBlink: true
URxvt*geometry: 155x40
!URxvt*internalBorder: 16
URxvt*borderLess: false
URxvt*scrollBar: false
URxvt*cursorUnderline: false
URxvt*scrollColor: #8bc34a
URxvt.underlineURLs: true
!URxvt.letterSpace: 1
URxvt.iconFile: /usr/share/icons/Menda-Circle/apps/48x48/apps/terminator.svg
URxvt.colorUL: #ffc107

!-------------------------------------------------------------------------------
!!! THEME !!!
!-------------------------------------------------------------------------------


! Google Material Design

! special
*.foreground:   #a2a2a2
*.background:   #1f1f1f
*.cursorColor:  #a2a2a2

! black
*.color0:       #4e4e4e
*.color8:       #777777

! red
*.color1:       #a9635d
*.color9:       #ffbbb2

! green
*.color2:       #468459
*.color10:      #9ddeaf

! yellow
*.color3:       #84763d
*.color11:      #e0ce91

! blue
*.color4:       #5879af
*.color12:      #b3d1ff

! magenta
*.color5:       #9c6594
*.color13:      #fabdf0

! cyan
*.color6:       #008592
*.color14:      #79e0ed

! white
*.color7:       #cfcfcf
*.color15:      #ffffff
