!-------------------------------------------------------------------------------
!!! XFT SETTINGS !!!
!-------------------------------------------------------------------------------
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


!-------------------------------------------------------------------------------
!!! URXVT SETTINGS !!!
!-------------------------------------------------------------------------------
urxvt*font: xft:gohufont:pixelsize=13,xft:Inconsolata\ for\ Powerline:pixelsize=13
!Urxvt*depth: 33
URxvt*cursorBlink: true
URxvt*geometry: 155x40
!URxvt*internalBorder: 16
URxvt*borderLess: false
URxvt*scrollBar: false
URxvt*cursorUnderline: false
URxvt.underlineURLs: true
!URxvt.letterSpace: 1
URxvt.iconFile: /usr/share/icons/Menda-Circle/apps/48x48/apps/terminator.svg
URxvt.colorUL: #ffc107

!-------------------------------------------------------------------------------
!!! THEME !!!
!-------------------------------------------------------------------------------

! Base16 Twilight
! Scheme: David Hart (http://hart-dev.com)

! special
*.foreground:   #d0d0d0
*.background:   #1f1f1f
*.cursorColor:  #d0d0d0

! black
*.color0:       #151515
*.color8:       #505050

! red
*.color1:       #ac4142
*.color9:       #ac4142

! green
*.color2:       #90a959
*.color10:      #90a959

! yellow
*.color3:       #f4bf75
*.color11:      #f4bf75

! blue
*.color4:       #6a9fb5
*.color12:      #6a9fb5

! magenta
*.color5:       #aa759f
*.color13:      #aa759f

! cyan
*.color6:       #75b5aa
*.color14:      #75b5aa

! white
*.color7:       #d0d0d0
*.color15:      #f5f5f5




! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
!#rofi.color-enabled:                  true
! Color scheme for normal row
!#rofi.color-normal:                   argb:00000000,  #D8DEE9 , argb:00000000,  #D8DEE9 ,  #1B2B34
! Color scheme for urgent row
!#rofi.color-urgent:                   argb:00000000,  #F99157 , argb:00000000,  #F99157 ,  #1B2B34
! Color scheme for active row
!#rofi.color-active:                   argb:00000000,  #6699CC , argb:00000000,  #6699CC ,  #1B2B34
! Color scheme window
!#rofi.color-window:                   argb:ee222222,  #1f1f1f ,  #1f1f1f
! Separator style (none, dash, solid)
!#rofi.separator-style: none


! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #1f1f1f, #1f1f1f, argb:0000000
rofi.color-normal: #1f1f1f, #ffffff, argb:0000000, #504e4e, #eee8d5
rofi.color-active: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
rofi.color-urgent: argb:0fdf6e3, #dc322f, argb:0eee8d5, argb:0dc322f, #fdf6e3
